
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap'); /* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');/* Montserrat */

body {
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
    background-color: #10061c;
    text-align: center;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

.inner h1 {
    margin-top: 3%;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 500;
}

.inner p {
    margin-bottom: 4%;
    
}


#header {
    font-weight: 100;
    font-weight: 100;
    margin-top: 1%;
    margin-bottom: 10%;
}


/* Video graphic */
/* look into how to Make videos play slower */
#main {
    position: relative;
    /* VH (Viewport Height) determines the height of the element by setting it to a percentage of the viewport 
    (NOTE: VW is used for width) */
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Same as setting center to justify-content & align-items. */
    /* or place-items: center;  */
    /* So the text does NOT go right up against the edge on smaller screen sizes. */
     padding: 0 20px;
}

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    margin-bottom: 100%; 
    /* The object-fit property determines how a video or image (AKA Img element) is resized to fit inside its container (AKA Parent Element). Setting the value to "cover" causes the video to retain its aspect ratio and fill the given dimension. */
    object-fit: cover;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, .7);
}
/* End Video Code */



/* Icons Code  */

.fa-html5, .fa-css3-alt, .fa-bootstrap, .fa-sass, .fa-js-square, .fa-react, .fa-chrome, .fa-git, .fa-npm, .fa-node {
    /*background-color: #9d3cbd; */
    padding: 20px;
    margin: 15px;
    font-size: 50px;
}

/* Text under icons Code */
#knowledge {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10%;
}





/*  Font Awesome Icon Links */

.contactlinks {
    color: white;
    list-style: none;
    font-style: none;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
}



a {
    text-decoration: none;
    color: white;
    text-align: center;
}

a :hover {
    color: #9d3cbd;
    font-size: 150%;
}



/*  FOOTER */

.button {
    background-color: #9d3cbd;
    padding: 2%; 
}

#topmargin {
    margin: 10%;
}






















/* body {
    background-color: #10061c;
    color:blanchedalmond;
    text-align: center;
}

/* Every Challenge.... Contact is in #header. This is how I got text centered */
/* #header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    margin-top: 1%;
    margin-bottom: 10%;
    /* background-color: hotpink; */



/*  Font for both Challenge & Renn. Styling ONLY for Renn line  */
/* .inner {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .04em;
    font-weight: 200;
    text-transform: uppercase;
}
/* Styling for ...Challenge is creative... */
/* .inner h1 {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}




/* The navigation bar was in an ul & needed this code. The Send, Reset & github also needed this. */
/* Will need a media query for nav bar */
/* .dots {
    list-style: none;
    text-decoration-line: none;
    /* put nav bar in a horizontal line. will need separate ids. */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* font-size: 20px ; */
    /* align-self: center;
    /* lex-direction: row-reverse; */
    /* justify-content: center;   
    font-family: 'Montserrat', sans-serif;
    font-size: 230%;
    margin: 10px;
    /* border: 2px solid rgb(7, 56, 79); */
    /* background-color: black; */
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: silver;
    border-radius: 2px;
    opacity: 0.7;
    text-decoration: none;
    color: white;
    /* background-color: #9d3cbd; */
    /* Maybe try adding the video to nav bar */


/* nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* font-size: 20px ; */
    /* align-self: center;
    /* font-size: 20px; */
    /* align-self: center;
    /* lex-direction: row-reverse; */
    /* font-family: 'Montserrat', sans-serif;
    font-size: 230%;
    margin: 10px;
    /* border: 2px solid rgb(7, 56, 79); */
    /* background-color: #10061c;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: silver;
    border-radius: 2px;
    opacity: 0.7;
    text-decoration: none;
    background-color: #10061c;
}

 .links {
    list-style: none;
    display: flex;
    text-decoration: none;
    border-bottom: none;
    color: inherit;
    text-decoration: inherit;
} 

/* Video graphic */
/* #main {
    position: relative;
    /* VH (Viewport Height) determines the height of the element by setting it to a percentage of the viewport 
    (NOTE: VW is used for width) */
    /* height: 40vh;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center;
    /* Same as setting center to justify-content & align-items. */
    /* or place-items: center;  */
    /* So the text does NOT go right up against the edge on smaller screen sizes. */
    /* padding: 0 20px;
}

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;


}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    margin-bottom: 100%; 
    /* The object-fit property determines how a video or image (AKA Img element) is resized to fit inside its container (AKA Parent Element). Setting the value to "cover" causes the video to retain its aspect ratio and fill the given dimension. */
    /* object-fit: cover;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, .7);
}
/* End Video Code */

/* start paragraphs */
/* Paragraphs */
/* p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: .05em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
}

#lead {
    font-size: 175%;
    font-weight: 500;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #362f40;
    text-align: center;
}


#firstparagraph {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    text-align: right;
    margin-right: -1%;
}


/* .portfolio {
    width: 400px;
    height: 400px;
    border: 3px solid #10061c;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */



/* Contact Form */
/* #contact {
    padding: 10%;
    font-size: 200%;

}

.button {
    list-style: none;
    margin-left: 20%;
    margin-right: 20%;

}

#selfphoto, img {
    width: 400px;
    height: 400px;
    border: 3px solid #10061c;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* Footer  */
/* #footer {
    text-align: center;
    text-decoration: none;
    padding-bottom: 20%;
}

.footer2 {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Media Queries */


































/* Navbar incase I mess up */
/* /* The navigation bar was in an ul & needed this code. The Send, Reset & github also needed this. */
/* Will need a media query for nav bar */
/*.dots {
    list-style: none;
    /* put nav bar in a horizontal line. will need separate ids. */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* font-size: 20px; */
    /* align-self: center;*/
    /* lex-direction: row-reverse; */
    /* justify-content: center;   
    font-family: 'Montserrat', sans-serif;
    font-size: 230%;
    margin: 10px;
    /* border: 2px solid rgb(7, 56, 79); */
    /* background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: silver;
    border-radius: 2px;
    opacity: 0.7;
    text-decoration: none;
    background-color: #9d3cbd;
    /* Maybe try adding the video to nav bar */


/* nav {
    
    /* font-size: 20px; */
    /* align-self: center;
    /* lex-direction: row-reverse; */
    
    /*font-family: 'Montserrat', sans-serif;
    font-size: 230%;
    margin: 10px;
    /* border: 2px solid rgb(7, 56, 79); */
    /* background-color: #10061c;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: silver;
    border-radius: 2px;
    opacity: 0.7;
    text-decoration: none;
    background-color: #10061c;
}
*/